.site-header{
    background-color: #5d2b3c;
    color: navajowhite;
    height: 200vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin: 20px;

}
    .profile-pic
    {
        border-radius: 200%;
        object-fit:cover;
        height: 200px;
        width: 200px;
        align-self: center
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);    
    }

body{
        margin: 0;

}
.connection{
    color: navajowhite;

}
```
























